body{
    margin:0%;
    padding: 0%;
}

div{
    /* border-width: 1px;
    border-style: groove;
    border-color: black; */
    border: 1px solid black /* Same sqeuence has to be followes for this line*/;
}
#Top{
    width: 1000px;
    margin: auto;
    background-color: rgb(176, 222, 191);
}
#Header,#Footer{
    background-color: darkcyan;
}
img{
    width: 977px;
}
p{
    text-align: justify;  /* To get the lines in the paragraphs in sync*/
}
#Header,#Content{
    padding: 10px;
}
#Footer{
    text-align: center;
}
.Coloured{
    color: rgb(1, 4, 27);
}

